#search_btn, #plus_btn, #create_account{
    display: block;
    margin:30px;
}

#search_btn{
    background-color: rgb(235, 235, 235);
    color: turquoise;
    font-size: 16px;
    height: 30px;
    width: 120px;
    border: 3px solid turquoise;
    border-radius: 15px;
}

#plus_btn{
    height: 40px;
    width: 40px;
    color: white;
    font-size: 25px;
    background-color: turquoise;
    border:0px  transparent;
    border-radius: 50%;
}

#create_account{
    height: 20px;
    color: white;
    width: 150px;
    background-color: rgb(83, 163, 212);
    padding: 8px;
    border: 3px black;
    text-align: center;
    box-shadow: 5px 5px black,-0.1em -0.1em black;
}