* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

#navbar {
    background-color: black;
    color: white;
    height: 50px;
    width: 1080px;
    margin: 0px auto;
    display: flex;
    align-items: center;
}

h2 {
    width: 1080px;
    margin: 0px auto;
    text-align: center;
}

#content {
    height: 500px;
    width: 1080px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#left {
    flex: 1;
    height: 200px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;    
}

img {
    height: 100px;
    margin: 15px auto;
}

a {
    margin: 10px auto;
}

#right {
    flex: 3;
    align-items: flex-start;
}

.nametag {
    border: 3px solid black;
    margin-bottom: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.likes {
    display: flex;
    align-items: center;
    gap: 20px;
}

.likebtn {
    height: 30px;
    width: 80px;
    background-color: orange;
    font-size: 20px;
    box-shadow: 5px 5px black;
}
