* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
body{
}

.nav {
    background-image: url("./global-travel-service-hero.jpg");
    height: 60px;
    width: 1080px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;   
    margin: 0px auto;
}

.nav-title {
    margin-left: 20px;
    color: ghostwhite;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
}

li {
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: lightgray;
}
a:hover {
    color: ghostwhite;
}

li .btn {
    background-color: rgb(11, 188, 247);
    height: 30px;
    width: 100px;
    border: none;
    font-size: 16px;
    box-shadow: 5px 5px black;
}
#container {
    width: 1080px;
    margin: 20px auto;
}
#button {
    background-color: rgb(11, 188, 247); 
    margin: 20px auto;
    justify-content: space-evenly;
    height: 40px;
    align-items: center;
    display: flex;
    padding: 0px;
}
.book {
    background-color:ghostwhite;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
}
.row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;    
}

.col-1, .col-2, .col-3,.col-4 {
    background-color: gold;
    color: ghostwhite;
    height: 100px;
    padding: 25px;
    margin: 0px 0px;
}
.col-1 {
    flex: 1;
    background-color: lightblue;
    background-repeat: no-repeat;
    ba
    height: 300px;
    width: 500px;
    }

.col-2 {
    flex:1;
    background-color: lightyellow;
}

.col-3 {
    flex:1;
    background-color: lime;
}

.col-4 {
    flex: 1;
    background-color: linen;
}

.continent {
    width: 400px;
}