.row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;    
}

.col-1, .col-2, .col-3
{
    background-color: cadetblue;
    color: ghostwhite;
    height: 30px;
    padding: 25px;
    margin: 0px 20px;
}
.col-1 {
    flex: 1;
    }

.col-2 {
    flex:2;
}

.col-3 {
    flex:3;
}